{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Projet</th>
        <th scope="col">Date</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for projet in projets %}
        <tr>
          <th scope="col"><a href="../dashboard/{{projet.initial}}">{{projet.projetId}}</a></th>
          <th scope="col">{{projet.dateRel}}</th>
          <th scope="col">{{projet.nbThreadsRel}}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


