{% extends 'base.html' %}

{% block content %}
<h2>Projet : O2.projet Oho</h2>

<!-- Lien vers la page 'Historique' -->
<a href="">Historique</a>
<!-- Lien vers la page 'Graphique' -->
<a href="">Graphique</a>
<!-- Bouton qui va lancer le SCRAP du projet affiché -->
<button>Relevé</button>
<!-- Lien vers la page 'Détails des derniers relevés' -->
<a href="">Détails derniers relevés</a>
<!-- Bouton de retour vers la page d'accueil privée -->
<button>
    <a href="../home">Retour</a>
</button>
{% endblock %}
